<div class="container treatment laser-pigment">

  <div class="treatment__header">
    <h2 class="treatment__group">Laser Treatments</h2>
    <h1 class="treatment__title">CUTERA® Laser Genesis</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          Our cutting-edge technology CUTERA® Laser Genesis helps reverse the signs of ageing before they start by
          restoring your skin’s healthy appearance and addressing visible imperfections such as sun damage, fine lines,
          redness and scarring.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          Love your skin at any age
        </h4>
        <p class="text--justify-gt-xs">
          Laser Genesis stimulates the skin’s natural renewal process to improve overall skin quality, resulting in a
          radiant, more youthful complexion. During the procedure, gentle micro-pulses of laser energy are sent to the
          skin to activate collagen remodelling to give your skin its smooth, radiant complexion.
        </p>

        <br/>

        <div id="genesis-carousel-2" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel__indicators carousel-indicators">
            <li data-target="#genesis-carousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#genesis-carousel-2" data-slide-to="1"></li>
            <li data-target="#genesis-carousel-2" data-slide-to="2"></li>
            <li data-target="#genesis-carousel-2" data-slide-to="3"></li>
            <li data-target="#genesis-carousel-2" data-slide-to="4"></li>
            <li data-target="#genesis-carousel-2" data-slide-to="5"></li>
          </ol>
          <!-- Slides & wrappers -->
          <div class="carousel__inner carousel-inner">
            <div class="item active">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_9.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_10.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_11.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_12.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_20.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_24.jpg' %>')">
                </div>
              </div>
            </div>
          </div>
          <!-- Navigation controls -->
          <a class="left carousel__control carousel-control" href="#genesis-carousel-2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel__control carousel-control" href="#genesis-carousel-2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <br/>

        <!-- show consultation on left for md+ -->
        <div class="elem__hide--xs elem__hide--sm">
          <hr/>
          <p class="text--justify-gt-xs">
            For more information and to book your consultation, call Skin on Forty Five on
            <span class="text--bold text--clear">07 7521 245</span>
          </p>

          <button class="button request-consultation-button">Request a Consultation</button>
        </div>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <div id="genesis-carousel-1" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel__indicators carousel-indicators">
            <li data-target="#genesis-carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="1"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="2"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="3"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="4"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="5"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="6"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="7"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="8"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="9"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="10"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="11"></li>
            <li data-target="#genesis-carousel-1" data-slide-to="12"></li>
          </ol>
          <!-- Slides & wrappers -->
          <div class="carousel__inner carousel-inner">
            <div class="item active">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_8.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_13.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_14.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_15.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_16.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_17.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_18.jpg' %>')">
                </div>
              </div>
              <div class="item">
                <div class="carousel__item carousel-item">
                  <div class="carousel-item__img"
                       style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_19.jpg' %>')">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel__item carousel-item">
                  <div class="carousel-item__img"
                       style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_21.jpg' %>')">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel__item carousel-item">
                  <div class="carousel-item__img"
                       style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_22.jpg' %>')">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel__item carousel-item">
                  <div class="carousel-item__img"
                       style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_23.jpg' %>')">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel__item carousel-item">
                  <div class="carousel-item__img"
                       style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_25.jpg' %>')">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel__item carousel-item">
                  <div class="carousel-item__img"
                       style="background-image: url('<%= image_url 'treatments/laser/genesis/Laser Genesis_BA_26.jpg' %>')">
                  </div>
                </div>
              </div>
            </div>
            <!-- Navigation controls -->
            <a class="left carousel__control carousel-control" href="#genesis-carousel-1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel__control carousel-control" href="#genesis-carousel-1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          See your skin in a new light
        </h4>
        <p class="text--justify-gt-xs">
          In less than one hour, you can start to experience the amazing renewal properties of Laser Genesis. This
          gentle procedure requires no downtime. In fact, you can even do it on your lunchtime and be back at work
          immediately. From the first treatment, the laser begins to correct fine lines, diminish unwanted brown spots
          and facial redness, and improve the overall health and appearance of your skin.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          Following your Laser Genesis procedure, you may notice a slight redness, which
          will resolve within a few hours. Apply sunscreen and makeup, and feel free to return to your normal daily
          activities. For maximum results, you’ll want to follow a complete treatment series with full results seen in
          as few as four treatments.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          Laser Genesis has a high safety profile with minimal side effects, making it the perfect option for virtually
          anyone wanting to turn back the signs of ageing and get a head start on their future look.
        </p>

        <!-- show consultation on right for xs, sm -->
        <div class="elem__hide--md elem__hide--lg elem__hide--xl">
          <hr/>

          <p class="text--justify-gt-xs">
            For more information and to book your consultation, call Skin on Forty Five on
            <span class="text--bold text--clear">07 7521 245</span>
          </p>

          <button class="button request-consultation-button">Request a Consultation</button>
        </div>

        <br/>
        <br/>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
