<div class="container treatment laser-veins">

  <div class="treatment__header">
    <h2 class="treatment__group">Laser Treatments</h2>
    <h1 class="treatment__title">Veins</h1>
  </div>


  <div class="double-separator">
    <hr class="double-separator__thick-line"/>
    <hr class="double-separator__thin-line"/>
    <hr class="double-separator__vertical-line"/>
  </div>

  <div class="two-column">
    <!-- BEGIN left column -->
    <div class="two-column__left-column">
      <div style="padding: 15px">

        <p class="text--bold text--md text--justify-gt-xs">
          It’s never too early or too late to take a stance against the ageing process. Let our latest laser technology
          activate your skin’s natural restorative properties to combat the early signs of ageing and reveal a new,
          radiant complexion.
        </p>

        <br/>

        <h4 class="text--gold text--cursive text--right">
          Renew confidence in your skin
        </h4>
        <p class="text--justify-gt-xs">
          This quick and comfortable treatment targets unwanted veins around the nose, eyes and anywhere on the face or
          body.
        </p>
        <br/>
        <p class="text--justify-gt-xs">
          Following your vein therapy treatment, you may experience slight redness or darkening of the treatment area,
          which will resolve within a few hours or days, depending on your skin condition.
        </p>

        <br/>
        <p class="text--justify-gt-xs">
          After a series of treatments, you can expect to see visible improvement in the look and feel of your skin. Our
          laser technology has a high safety profile with minimal side effects, making it the perfect option for
          virtually anyone wanting to turn back the signs of ageing and get a head start on their future look
        </p>

        <hr/>

        <p class="text--justify-gt-xs">
          For more information and to book your consultation, call Skin on Forty Five on
          <span class="text--bold text--clear">07 7521 245</span>
        </p>

        <button class="button request-consultation-button">Request a Consultation</button>

        <br/>
        <br/>

      </div>
    </div>
    <!-- END left column-->

    <div class="two-column__vertical-line"></div>

    <!-- BEGIN right column -->
    <div class="two-column__right-column">
      <div style="padding: 15px">

        <h4 class="text--gold text--cursive">
          Let your Skin Blossom with Confidence
        </h4>

        <br/>

        <div id="hair-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel__indicators carousel-indicators">
            <li data-target="#hair-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#hair-carousel" data-slide-to="1"></li>
            <li data-target="#hair-carousel" data-slide-to="2"></li>
            <li data-target="#hair-carousel" data-slide-to="3"></li>
            <li data-target="#hair-carousel" data-slide-to="4"></li>
          </ol>
          <!-- Slides & wrappers -->
          <div class="carousel__inner carousel-inner">
            <!-- Varicose Veins -->
            <div class="item active">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/veins/xeo_NdYAG-veins_1.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/veins/xeo_NdYAG-veins_2.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/veins/xeo_NdYAG-veins_3.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/veins/xeo_NdYAG-venous_1.jpg' %>')">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel__item carousel-item">
                <div class="carousel-item__img"
                     style="background-image: url('<%= image_url 'treatments/laser/veins/V_Eye_Waslen_05_B-A_36 wks_right.jpg' %>')">
                </div>
              </div>
            </div>
          </div>
          <!-- Navigation controls -->
          <a class="left carousel__control carousel-control" href="#hair-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel__control carousel-control" href="#hair-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <br/>

        <div class="inlinefix">
          <img class="image image--height-200 image--width-half"
               src="<%= image_url 'treatments/laser/veins/Knee preop.jpg' %>">
          <img class="image image--height-200 image--width-half"
               src="<%= image_url 'treatments/laser/veins/Knee postop.jpg' %>">
        </div>

        <br/>
        <br/>

        <div class="inlinefix">
          <img class="image image--height-200 image--width-half"
               src="<%= image_url 'treatments/laser/veins/Leg vein before' %>">
          <img class="image image--height-200 image--width-half"
               src="<%= image_url 'treatments/laser/veins/Leg vein after 1 treatment.jpg' %>">
        </div>

        <br/>
        <br/>

      </div>
    </div>
    <!-- END right column -->

    <div class="clearfix"></div>
  </div>

</div>
