<footer class="footer">
  <div class="container">

    <div class="double-separator">
      <hr class="double-separator__thick-line"/>
      <hr class="double-separator__thin-line"/>
      <hr class="double-separator__vertical-line"/>
    </div>

    <div class="two-column">
      <div class="two-column__left-column">
        <div class="two-column">
          <div class="two-column__left-column">
            <div class="footer__section">
              <h4>About us</h4>
              <a href="<%= about_index_path %>">About Skin on Forty Five</a>
              <br/>
              <a href="<%= about_team_path %>">Meet the team</a>
              <br/>
              <a href="<%= contact_index_path %>">Contact details</a>
              <br/>
            </div>
            <div class="footer__section">
              <h4>Skin Care</h4>
              <a href="<%= skin_care_peels_path %>">Peels</a>
              <br/>
              <a href="<%= skin_care_dermafrac_path %>">Dermafrac</a>
              <br/>
              <a href="<%= skin_care_needling_path %>">Needling</a>
              <br/>
              <a href="<%= skin_care_products_path %>">Products</a>
            </div>
            <div class="footer__section">
              <h4>Hair Care</h4>
              <a href="<%= hair_care_transplant_path %>">Transplants</a>
            </div>
          </div>

          <div class="two-column__right-column">
            <div class="footer__section">
              <h4>Appearance Medicine</h4>
              <a href="<%= appearance_medicine_prp_path %>">PRP</a>
              <br/>
              <a href="<%= appearance_medicine_filler_path %>">Filler</a>
              <br/>
              <a href="<%= appearance_medicine_botulinum_path %>">Botulinum</a>
            </div>
            <div class="footer__section">
              <h4>Skin Cancer</h4>
              <a href="<%= skin_cancer_consults_path %>">Consultations</a>
              <br/>
              <a href="<%= skin_cancer_removals_path %>">Removals</a>
            </div>
            <div class="footer__section">
              <h4>Varicose Veins</h4>
              <a href="<%= varicose_veins_laser_path %>">Laser</a>
              <br/>
              <a href="<%= varicose_veins_sclero_path %>">Sclerotherapy</a>
              <br/>
              <a href="<%= varicose_veins_spider_path %>">Spider Veins</a>
            </div>
            <div class="footer__section">
              <h4>Laser</h4>
              <a href="<%= laser_hair_path %>">Hair</a>
              <br/>
              <a href="<%= laser_veins_path %>">Veins</a>
              <br/>
              <a href="<%= laser_pigment_path %>">Pigment</a>
            </div>
          </div>
        </div>
      </div>

      <div class="two-column__vertical-line"></div>

      <div class="two-column__right-column">
        <div class="footer__section">
          <h4>Contact Details</h4>

          <i class="fa fa-2x fa-phone footer__contact-emblem"></i>
          <span class="footer__contact-detail text--times">06 7521 245</span>
          <br/>
          <i class="fa fa-2x fa-envelope footer__contact-emblem"></i>
          <span class="footer__contact-detail text--times">info@skinonfortyfive.co.nz</span>
          <br/>
          <i class="fa fa-2x fa-map-marker footer__contact-emblem"></i>
          <span class="footer__contact-detail text--times">1147 Main South Road, Surf Highway 45, Oakura</span>
          <br/>
          <hr class="elem__hide--xs elem__hide--sm"/>
          <i class="fa fa-2x fa-facebook footer__contact-emblem"></i>
          <a href="https://facebook.com/skinon45/"
             class="footer__contact-detail text--times">Find us on Facebook</a>
          <br/>
          <i class="fa fa-2x fa-instagram footer__contact-emblem"></i>
          <a href=""
            class="footer__contact-detail text--times">Follow us on Instagram</a>
          <br/>
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="footer__copyright text--center">
        Copyright &copy; 2017 Skin on Forty Five. All rights reserved.
    </div>

  </div>
</footer>